body{
	background-color:  rgb(46, 59, 73);
	color: rgb(0, 0, 0);

}
h3{
	color:black;
}
.fondo{
	background-color:rgb(21, 32, 43);
	border: 5px solid #000;
	width: 80%;
	margin-left: auto;
	margin-right:auto;
	height: 1000px;
	
}
#h1conf{
	margin: auto;
	text-align: center;
	padding-bottom: 10px;
	color: white;
}
#h2conf{
	margin: auto;
	text-align: center;
	padding-bottom: 10px;
	color:white;
}

input[type="submit"]{
	position:relative;
	width:150px;
	height:40px;
	border-radius:20px;
	margin-left: center;
	border:0px;
	background-color:rgb(12, 43, 40);
	font: 14px normal normal uppercase helvetica, arial, serif;
}

p{
	text-shadow:0 1px 0 #fff;
	font-size:24px;
	margin: 0;
}

.form{
	color: white;
     background: rgb(30, 38, 46);
     margin-left: 50px;
     padding: 2em;
     text-align: center;
     border : 0.15em solid white;
     width:250px;
     border-radius: 1.2em;
     height: 75vh;
}
.formcontra{
	color: white;
     background: rgb(30, 38, 46);
	 margin: 0 auto;
     padding: 2em;
     text-align: center;
     border : 0.15em solid white;
     width:30%;
     border-radius: 1.2em;
     height: 65vh;
}
#reseteo{
	margin-top: 20vh;
}



.btcolor{
	
	width:70px;
	height:40px;
	border-radius:20px;
	margin: 2px;
	border:0px;
	background-color:rgb(29, 119, 129);
	font: 14px normal normal uppercase helvetica, arial, serif;
}
.btcolor:hover{
	background-color: #ffff
}

button {
	position:relative;
	width:100px;
	height:40px;
	border-radius:20px;
	margin-left: center;
	border:0px;
	background-color:rgb(29, 119, 129);
	font: 14px normal normal uppercase helvetica, arial, serif;
}
a{
	color:black;
}
.card-body{
	background-color: rgb(12, 43, 65);
	border-color:  rgb(12, 43, 65);
}
.btn-success{
	background-color: rgba(10, 15, 20, 0.2);
	border: 0;
}

.btn-block:hover{
	background-color: rgb(29, 119, 129);
	border: 0;
}
	
.idnone{
	display: none;
}
input{
	border-radius:1em;
	height: 2em;
	border: 0;
}