.pop-up {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.808);
    display: none;
    
    pointer-events: all;
}
.pop-up-sesion {
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.808);
    display: none;
    
    pointer-events: all;
}
.pop-up-activate{
    display: inline;
}
input[type=button], input[type=submit]{
    position:relative;
     width:100px;
     height:40px;
     border-radius:20px;
     margin-top:5px;
     margin-bottom:5px;
     border:0px;
     background-color: rgb(29, 119, 129);
     font: 14px normal normal uppercase helvetica, arial, serif;
     padding:2px;
}
.pop-up-borrar{
    top: 0;
    right: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.808);
    display: none;
    position: absolute !important;
    padding-left: 49%;
    padding-right: 50%;
    padding-top: 20%;
    padding-bottom: 29%;
    pointer-events: all;
}
p{
    color:white;
}
.pop-up-error {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.808);
    text-align: center;
    pointer-events: all;
}
.pop-up-del p{
    display: none;
}
.pop-up-del-multi p{
    display: none;
}